@media (max-width: 990px) {
  #main-nav {
    background: #2c3e50;
    .navbar-brand {
      margin: 0 auto;
    }
    #main-nav-links {
      .nav-link {
        padding: 0.75rem;
        border-bottom: 1px solid #666;
      }
      .nav-item:last-child {
        .nav-link {
          border-bottom: none;
        }
      }
    }
  }
  #home {
    .search-form {
      margin-top: 4.5rem;
    }
  }
}
