// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$main-clr: #ee802f;
$main-clr-dark: #df762c;
$main-clr2: #f18052;

body {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

p {
	a {
		color: $main-clr;
		&:hover {
			color: $main-clr-dark;
		}
	}
}

.lg-heading {
	font-size: 3rem;
}

.md-heading {
	font-size: 2rem;
}

.sm-heading {
	font-size: 1.5rem;
}

.xs-heading {
	font-size: 18px;
}

.navbar-expand > .container {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.breadcrumb-min {
	padding: 0;
	margin: 0;
	background: none;
}

.card-min {
	border: none;
	.card-img-top {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.card-body {
		padding: 0;
		margin-top: 1.5rem;
		.card-title {
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #333;
			a:hover {
				color: $main-clr;
			}
		}
		.card-subtitle {
			font-size: 16px;
			font-weight: normal;
			text-transform: capitalize;
			color: #f18052;
			margin-bottom: 12px;
		}
		.card-meta {
			font-size: 13px;
			line-height: 14px;
			color: #999;
			font-style: italic;
		}
		.card-text {
			font-size: 14px;
			color: #999;
		}
	}
}

.form-control-custom {
	padding: 8px 14px;
	line-height: 1.42857143;
	border: 2px solid #ddd;
	border-radius: 0;
	transition: border-color ease-in-out 0.15s;
}

.bg-f9f9f9 {
	background: #f9f9f9;
}

.bg-f5f5f5 {
	background: #f5f5f5;
}

.bg-main {
	background: $main-clr;
}

.bg-main2 {
	background: $main-clr2;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	padding: 0 22px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background-color: $main-clr2;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	border-radius: 3px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	&:hover {
		opacity: 0.9;
	}
}

// NAVIGATION

#main-nav-container {
	#main-nav-top {
		padding-top: 0;
		padding-bottom: 0;
		li {
			border-right: 1px solid #eee;
			&:last-child {
				border-right: none;
			}
			a {
				text-transform: uppercase;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 44px;
				font-size: 12px;
				&:hover {
					background: #eee;
				}
			}
		}
		.top-social {
			a {
				width: 40px;
				&:hover {
					color: #fff;
					background: #555;
				}
			}
		}
		li.loginout {
			a {
				color: rgba(0, 0, 0, 0.5);
				padding: 0.5rem 1rem;
				&:hover {
					color: rgba(0, 0, 0, 0.7);
					text-decoration: none;
				}
			}
		}
	}

	#main-nav-middle {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		background: #f9f9f9;
		padding: 25px 0;

		.main-nav-brand {
			color: #555;
			font-size: 2rem;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}

		.main-nav-contact-block {
			i {
				display: flex;
				padding-right: 1rem;
				align-self: center;
				color: #555;
				font-size: 2.5rem;
			}
			span {
				color: #f18052;
				font-weight: bold;
				.d-block {
					text-transform: uppercase;
					font-size: 12px;
					font-weight: normal;
					color: #888;
				}
			}
		}
	}

	#main-menu {
		margin: auto;

		a {
			font-family: "Source Sans Pro", sans-serif;
			font-weight: bold;
			font-size: 13px;
			line-height: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #555;
			padding: 10px 20px;
			&:hover {
				color: #f18052;
			}
		}

		.active {
			a {
				color: #f18052;
			}
		}
	}
}

// HOME PAGE

.home {
	// SHOWCASE

	#showcase {
		height: 550px;
		background: center top/cover no-repeat;
		.container-fluid,
		.container {
			height: 100%;
			display: flex;
			align-items: center;
			.card {
				background-color: rgba(255, 255, 255, 0.9);
				border-radius: 2px;
				padding: 40px;
				max-width: 500px;
				.card-body {
					h1 {
						font-size: 24px;
						letter-spacing: 2px;
						text-transform: uppercase;
						font-weight: 700;
						line-height: 1;
						margin-bottom: 2rem;
					}
					p {
						font-size: 18px;
						font-weight: 300;
						margin-bottom: 0;
						color: #555;
					}
				}
			}
		}
	}

	// TESTIMONIALS

	#testimonials {
		position: relative;
		background: center bottom/cover no-repeat;
		color: #fff;
		min-height: 500px;
		.overlay {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(241, 128, 82, 0.9);
		}
		.testimonial {
			height: 100%;
			&-img {
				margin-bottom: 2rem;
			}
			&-body {
				font-family: "Source Sans Pro", sans-serif;
				font-weight: 300;
				font-size: 30px;
				letter-spacing: 1px;
				line-height: 1.6;
				margin-bottom: 40px;
				text-align: center;
			}
			&-author {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	// HOME INFO

	.info {
		.nav-item {
			.nav-link {
				font-size: 14px;
				font-weight: bold;
				border-radius: 0;
				padding: 1rem;
				color: #495057;
				background-color: #fff;
			}
			.nav-link.active {
				border-top: 3px solid $main-clr;
			}
		}
		.tab-content {
			padding: 2rem 0;
		}
		&-form {
			h3 {
				margin-bottom: 25px;
				font-size: 1rem;
				font-weight: 600;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			textarea {
				height: 5rem;
			}
		}
	}

	// RECENT BLOGS

	#recent-blogs {
		.card-min {
			.card-title {
				text-transform: none;
				letter-spacing: 0px;
			}
		}
	}
}

// ABOUT US PAGE

.page-about-us {
	// BENEFITS

	.benefits {
		.benefits-side-img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		.benefits {
			display: flex;
			align-items: center;
			height: 100%;
			background: #282828;
			.benefit {
				&-title {
					color: #ccc;
				}
			}
		}
	}

	// GALLERY

	.gallery {
		&-bottom {
			.col-12 {
				display: flex;
				li {
					padding: 2px 2px 0 0;
					img {
						transition: all 300ms linear;
						opacity: 0.5;
						cursor: pointer;
						&:hover {
							opacity: 1;
						}
					}
					.gallery-active-img {
						opacity: 1;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}

	.clients-overview {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		li {
			padding: 20px;
			border-right: 1px dotted #ccc;
			&:nth-child(3n) {
				border: none;
			}
		}
	}
}

// INVESTORS PAGE

.page-investors {
	.investor-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		li {
			padding: 20px;
			border-right: 1px dotted #ccc;
			&:nth-child(4n) {
				border: none;
			}
		}
	}
}

// BLOG PAGE

.blog {
	article {
		padding: 2rem 0;
		border-bottom: 1px solid #ccc;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border: none;
		}

		.entry-header {
			a:hover {
				color: $main-clr;
			}
			.entry-title {
				margin-bottom: 0;
				text-transform: none;
			}
			.entry-meta {
				margin-bottom: 1.5rem;
				span {
					color: #999;
					&:after {
						padding: 0 0.5rem;
						content: "/";
					}
					&:last-child {
						&:after {
							content: "";
						}
					}
				}
			}
		}

		.entry-content {
			.btn {
				color: #000;
				background: none;
				border: 3px solid #000;
				border-radius: 3px;
				padding: 8px 26px;
				text-transform: uppercase;
				font-weight: 700;
				&:hover {
					background: #000;
					color: #fff;
				}
			}
		}
	}
}

//*** TEMPLATE PARTS

// TEMPLATE PART: PAGE BANNER

.page-banner {
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 50px 0;
	.page-title {
		padding: 0;
		margin: 0;
	}
	.page-subtitle {
		display: block;
		font-size: 18px;
		font-weight: 300;
		color: #777;
	}
}

// TEMPLATE PART: CALL TO ACTION

.c2a {
	text-transform: uppercase;
	&-text {
		&-heading {
			font-size: 1.5rem;
			font-weight: bold;
			letter-spacing: 2px;
		}
		&-body {
			color: #999;
		}
	}
	&-btn {
		font-weight: 700;
		border: 3px solid #000;
		border-radius: 3px;
		padding: 8px 26px;
	}
}

// TEMPLATE PART: CALL TO ACTION 2

.c2a2 {
	padding: 2rem 0;
	background: $main-clr2;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.7rem;
	font-weight: 300;
	color: #f4f4f4;
	a {
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 2px solid #f4f4f4;
		&:hover {
			color: #fff;
			border-color: #fff;
		}
	}
}

// TEMPLATE PART: BENEFITS

.benefits {
	.benefit {
		padding: 1rem 0;
		&-img {
			height: 64px;
			width: 64px;
			margin-right: 1rem;
		}
		&-title {
			font-size: 1rem;
		}
		&-body {
			font-size: 14px;
			color: #999;
			line-height: 1.8;
		}
	}
}

// TEMPLATE PART: TRUST POINTS

.trust-points {
	.points-container {
		h3 {
			font-size: 30px;
		}
		p {
			font-size: 22px;
			color: #777;
		}
		.points {
			margin-top: 2rem;
			li {
				font-size: 17px;
				margin: 8px 0;
				color: #555;
				i {
					color: $main-clr;
				}
			}
		}
	}
}

// TEMPLATE PART: PROJECTS

.projects {
	&-heading {
		text-align: center;
		padding: 3rem 0;
		background: #f5f5f5;
		margin-bottom: 0;
	}
	&-container {
		.project {
			&-img {
				position: relative;
				.card-img-top {
					margin-bottom: 0;
				}
				&-overlay {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transition: all 300ms ease;
					i {
						font-size: 1.5rem;
						background: #fff;
						padding: 0.75rem;
						border-radius: 50%;
						margin: auto;
						display: none;
						transition: all 300ms ease;
						&:hover {
							color: $main-clr;
						}
					}
				}
				&:hover {
					.project-img-overlay {
						background: rgba(0, 0, 0, 0.5);
						i {
							display: inline-block;
						}
					}
				}
			}
			.card-body {
				margin: 1.5rem 1rem;
				.card-title {
					text-transform: none;
					letter-spacing: 0px;
					font-size: 19px;
					margin-bottom: 0.25rem;
				}
				.project-location {
					display: block;
					color: #999;
					font-size: 14px;
				}
			}
		}
	}
}

// FOOTER

#main-footer {
	color: #ccc;
	font-size: 14px;
	line-height: 1.8;

	#footer-top {
		background: #333;
		padding: 50px 0;

		a {
			color: #ccc;
			&:hover {
				text-decoration: none;
				color: #888;
			}
		}

		.footer-logo {
			font-size: 1.5rem;
			align-self: center;
			margin-right: 1rem;
			border-right: 1px solid #555;
			padding-right: 1rem;
		}

		#footer-links {
			border-top: 1px solid #555;
			padding-top: 1.5rem;
		}

		.footer-contact-info {
			span {
				text-transform: uppercase;
				color: #888;
			}
			p {
				font-size: 1.3rem;
				color: #eee;
			}
		}

		.footer-share-link {
			display: inline-block;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			margin-right: 0.5rem;
			i {
				color: #fff;
				font-size: 1.5rem;
			}
		}
		.footer-facebook-block {
			background: #3b5998;
		}
		.footer-rss-block {
			background: #ee802f;
		}
		.share-link-text {
			line-height: 1.5;
			font-size: 11.2px;
			span {
				display: block;
				font-weight: bold;
			}
		}
	}

	#footer-bottom {
		color: #666;
		background: #292929;
		padding: 40px 0;

		a {
			color: #666;
			&:hover {
				text-decoration: none;
				color: #999;
			}
		}

		.site-info {
			a {
				padding-bottom: 0.25rem;
				border-bottom: 1px solid #666;
			}
		}
	}
}

// MEDIA QUERIES

@media (max-width: 991px) {
	#main-nav-middle {
		.brand-container {
			display: flex;
			justify-content: center;
		}
	}

	#main-menu {
		.nav-item {
			border-bottom: 1px solid #e5e5e5;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.site-info {
		text-align: center;
		.breadcrumb {
			display: flex;
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	#main-nav-top {
		.top-social {
			display: none;
		}
		.navbar-nav {
			margin: auto;
		}
	}

	.home {
		#services,
		#recent-blogs {
			.card-min {
				margin: 2rem 0;
			}
		}
	}

	.page-investors {
		.investor-logos {
			grid-template-columns: repeat(3, 1fr);
			li {
				&:nth-child(4n) {
					border-right: 1px dotted #ccc;
				}
				&:nth-child(3n) {
					border: none;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	#main-nav-container {
		#main-nav-top {
			.navbar-nav {
				li {
					a {
						font-size: 10px;
					}
				}
			}
		}
	}

	.page-investors {
		.investor-logos {
			grid-template-columns: repeat(2, 1fr);
			li {
				&:nth-child(4n),
				&:nth-child(3n) {
					border-right: 1px dotted #ccc;
				}
				&:nth-child(2n) {
					border: none;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#main-nav-container {
		#main-nav-top {
			li.loginout {
				a {
					background: $main-clr;
					color: #fff;
					width: 100px;
					&:hover {
						color: #fff;
						background: $main-clr-dark;
					}
				}
			}
		}
	}
}
