// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: "Roboto", sans-serif;
}

// NAVIGATION

#main-nav-top {
	padding-top: 0;
	padding-bottom: 0;
	li {
		border-right: 1px solid #eee;
		&:last-child {
			border-right: none;
		}
		a {
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 44px;
			font-size: 12px;
			&:hover {
				background: #ddd;
			}
		}
	}
	.top-social {
		a {
			width: 40px;
			&:hover {
				color: #fff;
				background: #555;
			}
		}
	}
}

#main-nav-middle {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #f9f9f9;
	padding: 25px 0;

	.main-nav-brand {
		color: #555;
		font-size: 2rem;
		font-weight: bold;
		&:hover {
			text-decoration: none;
		}
	}

	.main-nav-contact-block {
		i {
			display: flex;
			padding-right: 1rem;
			align-self: center;
			color: #555;
			font-size: 2.5rem;
		}
		span {
			color: #f18052;
			font-weight: bold;
			.d-block {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: normal;
				color: #888;
			}
		}
	}
}

#main-menu {
	margin: auto;

	a {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;
		color: #555;
		padding: 10px 20px;
		&:hover {
			color: #f18052;
		}
	}

	.active {
		a {
			color: #f18052;
		}
	}
}

// FOOTER

#main-footer {
	color: #ccc;
	font-size: 14px;
	line-height: 1.8;

	#footer-top {
		background: #333;
		padding: 50px 0;

		a {
			color: #ccc;
			&:hover {
				text-decoration: none;
				color: #888;
			}
		}

		.footer-logo {
			font-size: 1.5rem;
			align-self: center;
			margin-right: 1rem;
			border-right: 1px solid #555;
			padding-right: 1rem;
		}

		#footer-links {
			border-top: 1px solid #555;
			padding-top: 1.5rem;
			ul {
				padding: 0;
				list-style: none;
			}
		}

		.footer-contact-info {
			span {
				text-transform: uppercase;
				color: #888;
			}
			p {
				font-size: 1.5rem;
				color: #eee;
			}
		}

		.footer-share-link {
			display: inline-block;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			margin-right: 0.5rem;
			i {
				font-size: 1.5rem;
			}
		}
		.footer-facebook-block {
			background: #3b5998;
		}
		.footer-rss-block {
			background: #ee802f;
		}
		.share-link-text {
			line-height: 1.5;
			font-size: 11.2px;
			span {
				display: block;
				font-weight: bold;
			}
		}
	}

	#footer-bottom {
		color: #666;
		background: #292929;
		padding: 40px 0;

		.breadcrumb {
			padding: 0;
			margin: 0;
			background: none;
		}

		a {
			color: #666;
			&:hover {
				text-decoration: none;
				color: #999;
			}
		}

		.site-info {
			a {
				padding-bottom: 0.25rem;
				border-bottom: 1px solid #666;
			}
		}
	}
}

// MEDIA QUERIES

@media (max-width: 990px) {
	#main-nav-middle {
		.brand-container {
			display: flex;
			justify-content: center;
		}
	}

	.site-info {
		text-align: center;
		.breadcrumb {
			display: flex;
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	#main-nav-top {
		.top-social {
			display: none;
		}
		.navbar-nav {
			margin: auto;
		}
	}
}
